article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

body {
    font: 12px verdana, sans-serif;
    background-color: rgba(232, 232, 232, 0.27);
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    outline: none;
}

.h3, h3 {
    font-size: 24px;
    text-align: center;
}

h4 {
    display: inline-block;
    vertical-align: middle;
}

p {
    display: inline-block;
    vertical-align: middle;
}

tr.well:hover {
    background-color: rgba(200, 200, 200, 0.27);
}

.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

input {
    margin: auto;
}

input#inputEmail {
    margin: 0 0 25px 0;
}

input#inputReg {
    margin: 10px 0 10px 0;
}

.button {
    margin: auto;
}

.msg {
    font-size: medium;
    text-align: center;
    color: #02B718;
}

.error {
    font-size: medium;
    text-align: center;
    color: #f91d14;

}

.form-signin label {
    float: left;
}

.form-signin input {
    margin: -10px 0 0 0;;

}

label {
    text-align: right;
    float: right;
}

div#bottom-btn-div {
    text-align: center;
}

.sort-button {
    cursor: pointer;
    border-bottom: 0;
    font-size: small;
    margin: 5px;
    padding: 10px 0 10px 0;
}

.sort-button:hover {
    border-bottom: 2px solid #808080;
}
